*{
    margin: 0px;
    padding: 0px;
}
header{
   display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: 40px;
    width: 100%;
    align-items: center;
    position: fixed;
}
img{
    height: 25px;
    width: 100px;
    margin: 20px;
}
a{
    text-decoration: none;
    margin: 20px;
}
#landing{
    height: 250px;
    width: 550px;
    margin: 5px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
button{
    height: 25px;
    padding: 10px;
    background-color:lightskyblue;
    border: 0px;
    border-radius: 0%;
}
#zerodh{
   height: 550px;
    width: 1100px;
    margin: 50px;

}
#zerodh2{
    height: 550px;
    width : 1100px;
    margin: 50px;

}
footer{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
li{
   list-style: none;
}
.bold{
    font-weight: bolder;
}